@page "/"
@using MyCheeseShop.Components.Account.Shared
@using MyCheeseShop.Context
@using MyCheeseShop.Model
@inject CheeseProvider CheeseProvider

<PageTitle>Home</PageTitle>

@if (cheeses is null)
{
    <p>Loading...</p>
}
else if(!cheeses.Any())
{
    <p>No cheeses found :(</p>
}

@foreach (var cheese in cheeses)
{
    <div class="col">
        <StoreItem Cheese="cheese" />
    </div>
}
@if (!cheeses.Any())
{
    <p>No cheeses found :(</p>
}



@code{
    private IEnumerable<Cheese> cheeses;

    protected override async Task OnInitializedAsync()
    {
        cheeses = await CheeseProvider.GetAllCheeseAsync();
    }
}
